.card-locais {
    background-color: #017e65; 
    color: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 24px;
    font-weight: medium;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 100px;
    width: 200px;
    position: relative;
}

.card-locais-text {
    font-size: 16px;
    margin-bottom: 2px;
}

.card-locais-count {
    font-size: 24px; 
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: auto;
    margin-top: 10px; 
}

.card-locais-icon {
    color: rgb(243, 244, 223);
    font-size: 62px; 
    opacity: 0.75;
    margin-right: 15px; 
}

.card-locais-content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
