.card-locais {
    background-color: #009879;
    color: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 18px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 150px;
    width: 300px;
    position: relative;
}

.card-locais span {
    font-size: 18px;
    margin-bottom: 10px;
}

.card-locais p {
    font-size: 48px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%; 
}

.card-locais svg {
    color: rgb(251, 255, 23);
    font-size: 48px;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}
