/* src/pages/styles.css */
.tela-cadastro {
    max-width: 800px; /* Aumenta a largura máxima do formulário */
    margin: 0 auto; /* Centraliza o formulário horizontalmente */
    padding: 20px; 
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    position: relative; /* Adicionado para posicionar o botão de cadastrar */
}

.form-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Adapta o número de colunas com base no tamanho do container */
    gap: 20px; 
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group label {
    margin-bottom: 5px;
}

.tela-cadastro input,
.tela-cadastro select {
    width: 100%; 
    margin-bottom: 10px; 
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    font-size: 16px;
}

.tela-cadastro textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.btn-cadastrar {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

/* Responsividade para telas pequenas */
@media (max-width: 768px) {
    .tela-cadastro {
        max-width: 100%; /* Ajusta a largura máxima para telas pequenas */
        padding: 10px; 
        border: none; /* Remove a borda para telas pequenas */
        border-radius: 0; /* Remove o arredondamento dos cantos para telas pequenas */
    }

    .form-grid {
        grid-template-columns: 1fr; /* Coloca os inputs em uma coluna única */
    }

    .btn-cadastrar {
        position: static; /* Remove a posição absoluta para o botão em telas pequenas */
        width: auto; /* Mantém o tamanho do botão de acordo com o conteúdo */
        padding: 10px 20px; /* Ajusta o padding para manter o formato */
        font-size: 16px;
        margin: 20px 0; /* Adiciona espaço acima e abaixo do botão */
    }
}
