.cadastro-container {
    padding: 30px;
    max-width: 1000px;
    margin: 40px auto; 
    background-color: #f9f9f9;
    border: 1px solid #f5f2f2;
    border-radius: 42px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

.icon-container {
    text-align: center; /* Centraliza o ícone */
    padding-top: 10px;
    padding-bottom:5px;
    color: #497c72;          /* Adiciona o padding de 10px ao redor do ícone */
}

h1 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
    font-weight: normal;
}

.btn-submit {
    background-color: #497c72;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 20px; 
    cursor: pointer;
    border-radius: 16px;
    font-size: 14px;
    transition: background-color 0.3s ease;
    display: block;
    width: max-content;
    margin-left: 0;
    margin-right: auto;
}

.btn-submit:hover {
    background-color: #007a61;
}

form {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.form-layout {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.form-field {
    flex: 1 1 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.form-field.half-width {
    flex: 1 1 calc(50% - 20px);
}

.form-field.full-width {
    flex: 1 1 100%;
}

label {
    font-weight: medium;
}

input, select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    box-sizing: border-box;
    width: 100%;
}

input:focus, select:focus {
    border-color: #007a61;
    outline: none;
    box-shadow: 0 0 3px rgba(70, 81, 78, 0.5);
}

@media (max-width: 768px) {
    .cadastro-container {
        max-width: 100%;
        padding: 15px;
        border: none;
        border-radius: 0;
    }

    form {
        flex-direction: column;
    }

    .form-field {
        flex: 1 1 100%;
        min-width: 100%;
    }

    .form-field.half-width input, 
    .form-field.half-width select {
        width: calc(100% - 10px); 
    }

    input, select {
        font-size: 12px;
        padding: 8px;
    }

    label {
        font-size: 12px;
    }
}
