.containerCards {
    display: flex;
    gap: 2rem;
    margin-bottom: 3rem;
    margin-top: 2rem;
    
}

.containerTableandMap {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2rem;

}

.headerContainer {
    margin-bottom: 1.5rem;
}

.mapContainer {
    height: 200px;
    width: 200px;
    border-radius: 5px;
    background-color: #ccd3da;
}

.dashboard {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.dashboard-top {
    display: flex;
    justify-content: space-between;
}

.map-container {
    flex: 1;
    height: 400px; /* Ajuste conforme necessário */
}

.local-list {
    margin-top: 20px;
}

.local-list table {
    width: 100%;
    border-collapse: collapse;
}

.local-list th, .local-list td {
    border: 1px solid #ddd;
    padding: 8px;
}

.local-list th {
    background-color: #f4f4f4;
}
