.dashboard {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 15px;
    box-sizing: border-box;
}

.dashboard-top {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: flex-start;
}

.cards-container {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: right;
    margin: auto;
}

.local-list {
    width: 100%;
    margin-top: 15px;
}

.local-list h2 {
    text-align: center;
    margin-bottom: 15px;
    font-size: 18px; 
}

.local-list .styled-table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

.local-list .styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.local-list .styled-table th, 
.local-list .styled-table td {
    padding: 10px 12px;
    font-size: 14px;
}

.local-list .styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.local-list .styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.local-list .styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.local-list .styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

.map-dashboard {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 15px;
}

.pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
  }
  
  .pagination button {
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .pagination button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .pagination span {
    font-size: 16px;
    font-weight: bold;
  }
  