.edit-user-profile {
    padding: 20px;
    max-width:780px;
    margin: 0 auto;
    position: relative;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 16px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.save-button {
    background-color: #009879;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-bottom: 20px;
    cursor: pointer;
    border-radius: 16px;
    font-size: 14px;
    transition: background-color 0.3s ease;
    display: block;
    width: max-content;
    position: relative;
    top: 20px;
    right: 20px;
}

.save-button:hover {
    background-color: #007a61;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 5px; 
}

label {
    font-weight: medium;
}

input, select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    box-sizing: border-box;
    width: 100%;
}

h1 {
    display: flex;
    justify-content: center;
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.disabled-field input {
    background-color: #f0f0f0;
    color: #888888;
    cursor: not-allowed;
    border: 1px solid #cccccc;
}


@media (min-width: 769px) {
    form {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 15px;
        justify-content: left;
    }

    .form-group {
        flex: 1 1 calc(45% - 15px);
        min-width: 240px;
    }

    .save-button {
        position: relative;
        top: 20px;
        right: 20px;
        left: 10px;

    }
}

@media (max-width: 768px) {
    .edit-user-profile {
        padding: 15px;
    }

    .save-button {
        padding: 8px 16px;
        font-size: 12px;
        top: 10px;
        left: 10px;
        right: 10px;
    }

    input, select {
        font-size: 12px;
        padding: 8px;
    }

    h1 {
        font-size: 20px;
    }
}
