.login-page {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.image-container {
    width: 70%;
    height: 100%;
    overflow: hidden;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.login-container {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-left: 1px solid #ddd;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
    width: 250px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.login-area {
    width: 100%;
    max-width: 400px;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 5px
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    margin-bottom: 8px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    background-color: #1d3732;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #155e4f;
}

p {
    font-size: 14px;
    margin-top: 10px;
}

@media (max-width: 768px) {
    .image-container {
        display: none;
    }

    .login-container {
        width: 100%;
        padding: 20px;
        border-left: none;
        box-shadow: none;
    }

    .logo {
        width: 250px;
        margin-bottom: 10px;
    }

    .login-area {
        width: 100%;
        max-width: 100%;
    }
}
