/* Estilos para o campo de opções */
.campo-opcoes {
  display: flex;
  align-items: center;
  gap: 10px; /* Ajuste o espaçamento se necessário */
}

/* Estilos dos botões de excluir */
.btn-delete {
  cursor: pointer;
  font-size: 1.2em;
  color: #ff0000;
  transition: color 0.3s;
}

.btn-delete:hover {
  color: #d00000; /* Adiciona uma cor de destaque ao passar o mouse */
}

/* Estilos para links na tabela */
.styled-table a {
  text-decoration: none; /* Remove o sublinhado */
  color: inherit; /* Remove a cor azul padrão dos links */
  cursor: pointer; /* Adiciona o cursor pointer */
}

.styled-table a:hover {
  text-decoration: underline; /* Adiciona o sublinhado ao passar o mouse */
  color: #009879; /* Adiciona uma cor de destaque ao passar o mouse */
}

/* Estilos responsivos */
@media (max-width: 768px) {
  .local-list {
    padding: 10px;
  }

  .styled-table {
    display: block;
    width: 100%;
    overflow: hidden; /* Remove a rolagem horizontal para melhorar o layout dos cartões */
  }

  .styled-table thead {
    display: none; /* Oculta o cabeçalho da tabela no modo responsivo */
  }

  .styled-table tbody {
    display: block;
    width: 100%;
  }

  .styled-table tr {
    margin-bottom: 15px;
    border-radius: 8px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .styled-table td {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    background-color: #ffffff;
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
  }

  .styled-table td:last-child {
    border-bottom: none; /* Remove a borda inferior no último item do cartão */
  }

  .styled-table td::before {
    content: attr(data-label);
    font-weight: bold;
    margin-right: 10px;
  }
}
