
.mapContainer {
    padding-top: 15px;
    border-radius: 16px;
    height: 450px;
    width: 500px;
    border: 2px solid #4b4b4b20; /* Adiciona uma borda verde */
}

/* Personalize o estilo dos popups */
.leaflet-popup-content-wrapper {
    background-color: #f9f9f9;
    color: #0b3b23;
    border-radius: 12px;
}

.leaflet-popup-tip {
    background-color: #f9f9f9;
}


.leaflet-control-zoom-in, 
.leaflet-control-zoom-out {
    background-color: #2d2d2d;
    color: white;
}

.leaflet-marker-icon {
    filter: hue-rotate(-1200deg);
}