.layout {
    display: flex;
    position: relative;
}

.sidebar {
    width: 250px;
    background-color: #009879; 
    height: 100vh;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    transition: transform 0.3s ease;
    z-index: 1000;
    
    
}

.sidebar.open {
    transform: translateX(0);
}

.sidebar-toggle {
    display: none;
    position: fixed;
    top: 20px;
    left: 20px;
    background-color: #bad2cd;
    border: none;
    color: #fff;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 1001;
}

.content {
    margin-left: 250px;
    flex: 1;
    padding: 20px;
    transition: margin-left 0.3s ease;
}

@media (max-width: 768px) {
    .sidebar {
        width: 250px;
        position: fixed;
        transform: translateX(-100%);
    }

    .sidebar.open {
        transform: translateX(0);
    }

    .sidebar-toggle {
        display: block;
    }

    .content {
        margin-left: 0;
    }
}

.sidebar a {
    display: block;
    color: #000000;
    text-decoration: none; 
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    margin-bottom: 10px; 
}

.sidebar a:hover {
    background-color: #016652;
    color: #ffffff;
}

.sidebar a:not(:last-child) {
    border-bottom: 1px solid #ffffff; 
}
